/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'ArialRounded';
    src: url(../fonts/Arial_Rounded_MT_Bold_Bold.ttf);
    font-weight: 700;
}

.profile img {
    width: 30%;
    margin: 15px 0 5px 0;
    border-radius: 50%;
}

.profile h4 {
    font-weight: normal;
}

.menu-items .item {
    border-width: 0px;
    color: #575757;
}

.menu-items .item-content {
    padding: 10px 49px 10px 16px;
}

.profile {
    border-bottom: 1px solid #b7b6b6;
}

.profile h4 {
    margin: 0 0 20px 0;
}

.slider-padding {
    padding: 40px 40px 10px 40px;
}

.title-txt {
    font-size: 24px;
    text-align: center;
    color: #575757;
}

.img-size {
    height: 125px;
    width: 100%;
}

.img-size img {
    width: 100%;
    height: auto;
}

.img-text {
    font-size: 11px;
    padding: 15px;
}

.img-input {
    position: absolute;
    bottom: 5px;
    border: 1px solid #1fd7fb!important;
    width: 40px;
    height: 25px!important;
    left: 35px;
    text-align: center;
    padding: 2px;
}

.maskimg {
    width: 250px;
    height: 250px;
    overflow: hidden;
    color: #fff;
    background: url(../img/mask-img.png);
    -webkit-mask-image: url(../img/mask-img.png);
}

.frame1 {
    background-image: url(../img/demo.jpg);
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.frame2 {
    background-image: url(../img/demo1.jpg);
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
}

.m0auto {
    margin: 0 auto;
}

.pos {
    position: relative;
}

.nav-arrow {
    width: 95px;
    height: 92px;
}

.arrowt {
    position: absolute;
    top: 0;
    left: 31px;
}

.arrowr {
    position: absolute;
    right: 0;
    top: 31px;
}

.arrowb {
    position: absolute;
    bottom: 0;
    left: 32px;
}

.arrowl {
    position: absolute;
    left: 0;
    top: 31px;
}

.create-btn {
    background-color: #a6a6a6;
    color: #fff;
    min-height: 29px;
    line-height: 0;
    border-radius: 0;
    padding: 0 70px;
    font-size: 18px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px!important;
}

.mt20 {
    margin-top: 20px;
}

.mtb20 {
    margin: 20px 0!important;
}

.mr10 {
    margin-right: 10px;
}

button.button.create-btn.activated {
    border-color: #a6a6a6;
    background-color: #a6a6a6;
    box-shadow: none;
    ;
}

.padding0 {
    padding: 0px;
}

.item p,
.item {
    color: #575757;
}

.btn-width {
    width: 100%;
}

.pull-right {
    float: right;
}

.cart-list .list {
    margin: 30px 0 0 0;
}

.social-btn {
    width: 80%;
    margin: 0 auto;
}

.btn-twitter {
    background-color: #55ACEE;
    color: #fff;
}

.btn-gplus {
    background-color: #D43F2B;
    color: #fff;
}

.btn-fb {
    background-color: #3A5795;
    color: #fff;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.bar .title.title-left {
    text-align: center;
}

.pad-item .item-content {
    padding: 16px;
}

.cart-list .item-input {
    padding: 0;
}

.logo-size {
    height: 150px;
    width: 150px;
}

.paddingb65 {
    padding-bottom: 65px;
}

.bar .title {
    font-family: 'ArialRounded';
}

.bar .button.back-button {
    color: #fff;
}

h1.title.title-left {
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    font-family: 'ArialRounded';
}

.select-text {
    display: block;
    padding: 7px 10px 7px 0px;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
}

.item-icon-left.icon-size .icon {
    font-size: 23px;
}

button.button.button-icon.button-clear.ion-navicon.small-icon:before,
a.button.button-icon.icon.ln-cart.small-icon:before {
    font-size: 25px;
}

button.button.button-clear.icon-right.ln-cross.small-icon:before {
    font-size: 20px;
}

.button.fb-btn.button-outline {
    border-color: #4870a6;
    color: #4870a6;
}

.button.twitt-btn.button-outline {
    border-color: #00bbef;
    color: #00bbef;
}

.button.gplus-btn.button-outline {
    border-color: #e84c3d;
    color: #e84c3d;
}

.button.fb-btn.button-outline.activated {
    background-color: #4870a6;
    color: #fff;
}

.button.twitt-btn.button-outline.activated {
    background-color: #00bbef;
    color: #fff;
}

.button.gplus-btn.button-outline.activated {
    background-color: #e84c3d;
    color: #fff;
}