<ion-view view-title="Basket">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/pillow.jpg">
                <h3>Photo Cushion</h3>
                <h4 class="positive">Rs.25.99</h4>
                <!--                <p>Size:20"</p>-->
                <p>Quantity:1</p>
                <!--                <p>Filler:Yes</p>-->
                <button class="button button-clear button-assertive button-small">REMOVE</button>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/pillow.jpg">
                <h3>Photo Cushion</h3>
                <h4 class="positive">Rs.25.99</h4>
                <!--                <p>Size:20"</p>-->
                <p>Quantity:1</p>
                <!--                <p>Filler:Yes</p>-->
                <button class="button button-clear button-assertive button-small">REMOVE</button>

            </a>
            <div class="item item-divider">Discount</div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Enter your coupon code here...">
                </label>
                <button class="button button-small button-outline button-positive">
                    Submit
                </button>
            </div>
            <ion-item>
                Subtotal Amount
                <span class="item-note">Rs.50.99</span>
            </ion-item>
            <ion-item>
                Discounted Amount
                <span class="item-note">Rs.0</span>
            </ion-item>
            <ion-item>
                Total
                <span class="item-note">Rs.50.99</span>
            </ion-item>

            <div class="padding">

                <a href="#/app/checkout" class="button button-block button-outline button-positive">Checkout</a>
            </div>

        </div>
    </ion-content>
</ion-view>