<ion-view view-title="Your Orders">
    <ion-content>
        <div class="list">
            <ion-item>
                <span class="mr10">1x</span>20" Photo Cushion
                <span class="item-note">Rs.25.99</span>
            </ion-item>
            <ion-item>
                <span class="mr10">1x</span>20" Photo Cushion
                <span class="item-note">Rs.25.99</span>
            </ion-item>
            <ion-item>
                Total
                <span class="item-note">Rs.50.99</span>
            </ion-item>

            <div class="item item-divider">Use Discount Code</div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Enter your code here...">
                </label>
                <button class="button button-small button-outline button-positive">
                    Submit
                </button>
            </div>

            <div class="item item-divider">Your Details</div>

            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Phone">
            </label>

            <div class="item item-divider">Billing Address</div>
            <label class="item item-input">
                <input type="text" placeholder="House Name / Number">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Address Line 1">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Address Line 2">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Town/City">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="State/Country/Providence">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Postal/Zip Code">
            </label>
            <label class="item item-input item-select ">
                <div class="input-label select-text">
                    Country
                </div>
                <select>
                    <option>India</option>
                    <option selected>Austria</option>
                    <option>France</option>
                </select>
            </label>

            <div class="item item-toggle">
               <div class="input-label select-text">
                     Ship to my billing address
                </div>
               
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>


            <div class="padding">
                <button class="button button-block button-positive button-outline">Purchase</button>
            </div>
        </div>
    </ion-content>
</ion-view>