<ion-view view-title="Customize Pillow">
    <ion-content>

        <div class="text-center mt40">
            
                <div class="maskimg m0auto">
                    <div class="img-size pos frame1" id="img1" ng-click="imgselected();">
                        <input type="text" class="positive-border img-input">
                    </div>
                    <div class="img-size pos frame2" ng-click="imgselected();">
                        <input type="text" class="positive-border img-input" style="bottom:28px;">
                        <div class="overlay" ng-show="overlaydiv"></div>
                    </div>
                </div>
           
            <div ng-show="edit">
                <div class="img-text">
                    Adjust the image inside the pillow using arrows.
                </div>
                <div class="m0auto nav-arrow pos">
                    <img src="img/arrowt.png" class="arrowt" ng-click="moveImg('up',0)" on-touch="moveImg('up',1);" on-release="mouseUp()" value='Up'>
                    <img src="img/arrowl.png" class="arrowl" ng-click="moveImg('left',0)" on-touch="moveImg('left',1);" on-release="mouseUp()" value='Left'>
                    <img src="img/arrowr.png" class="arrowr" ng-click="moveImg('right',0)" on-touch="moveImg('right',1);" on-release="mouseUp()" value='right'>
                    <img src="img/arrowb.png" class="arrowb" ng-click="moveImg('down',0)" on-touch="moveImg('down',1);" on-release="mouseUp()" value='down'>
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col">
                <a class="button button-outline button-positive icon-right ion-plus btn-width" ng-click="openedit();">Add More</a>
            </div>
            <div class="col" ng-show="editimg">
                <a class="button button-outline button-positive icon-right ion-edit btn-width" ng-click="edit_img();">Edit</a>
            </div>
            <div class="col" ng-show="doneimg">
                <a class="button button-outline button-positive icon-right ion-checkmark btn-width" ng-click="done_img();">Done</a>
            </div>
        </div>
        <div class="padding">

            <a href="#/app/product" class="button button-block button-outline button-positive icon-right ion-chevron-right btn-width">Proceed</a>


        </div>
    </ion-content>
</ion-view>