<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">

        <h1 class="title">tweke</h1>

    </ion-header-bar>
    <ion-content class="has-header">
        <div class="text-center mt40">
            <img class="logo-size" src="img/logo_shadow.png">
        </div>
        <div class="padding mt20">
            <a href="#/login-acc" class="button button-block button-outline button-positive">
                LOGIN
            </a>
            <div class="text-center padding">
                - Or -
            </div>
            <a href="#/register" class="button button-block button-outline button-positive">
                SIGN UP
            </a>
            <div class="text-center padding">
                - Login with social sites -
            </div>
            <button class="button icon-left ion-social-facebook button-block button-outline fb-btn">
                FACEBOOK
            </button>

            <button class="button icon-left ion-social-twitter button-block button-outline twitt-btn mtb20">
                TWITTER
            </button>

            <button class="button icon-left ion-social-googleplus button-block button-outline gplus-btn">
                GOOGLE+
            </button>
        </div>
    </ion-content>
</ion-view>