<ion-view view-title="My Orders">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/pillow.jpg">
                <h3>Photo Cushion</h3>
                <h4 class="positive">Rs.25.99</h4>
                <p>Quantity:1</p>
                 <button class="button button-balanced button-outline button-small">Delivered</button>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/pillow.jpg">
                <h3>Photo Cushion</h3>
                <h4 class="positive">Rs.25.99</h4>
                <p>Quantity:1</p>
                 <button class="button button-balanced button-outline button-small">Delivered</button>
            </a>
           
        </div>
    </ion-content>
</ion-view>