<ion-view>
   <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
        
            
    </ion-nav-bar>
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Register</h1>
    </ion-header-bar>
    
    <ion-content class="has-header">
        <div class="text-center mt40">
            <img class="logo-size" src="img/logo_shadow.png">
        </div>
        <div class="list list-inset">
            <!--
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
-->
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Confirm Password">
            </label>
            
                <a href="#/app/home" class="button button-block button-outline button-positive">Sign Up</a>
            
        </div>
    </ion-content>
</ion-view>